@import url('/block-brend/block-brend.css');
@import url('/block-brends/block-brends.css');
@import url('/block-brends/--open/block-brends--open.css');
@import url('/header/header.css');
@import url('/read-more/read-more.css');
@import url('/block-brends/__list/block-brends__list.css');

@media screen and ( min-width:768px) and (max-width: 1119px) {
    
    body {
        margin: 0;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    .container {
        max-width: 1119px;
        min-width: 768px;
        height: auto;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .main {
       
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #F8F8F8;
    }

}